/**
 * Front page
 */
#featureContainer {
	background: url('images/feature.png') no-repeat fixed center 100%;
	border-bottom: 0.7em solid #222;
	border-top: 0.1em solid #222;
	display: block;
	height: auto;
	margin-bottom: 1.75em;
	text-shadow: 1px 1px 1px #EEE;
	width: 100%;
}
#featureContainer [class*=col] {
	background: rgba(255, 255, 255, 0.7);
	border: 0.1em solid;
	border-color: #EEE #999 #999 #EEE;
	border-radius: 4px;
	-mox-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 1em;
}
#featureContainer .pageTitle:after {
	background: #999;
	border-bottom: 1px solid #EEE;
	height: 1px;
	padding: 0;
}
#featureContainer .multiInfoButton {margin-bottom: 0;}
@media screen and (max-width: 767px), screen and (max-device-width: 767px){
	#featureContainer [class*=col] {margin-bottom: 1.75em;}
}


/**
 * The logos
 */
#homeLogo, #homeLogoFloat {
	background: none;
	color: #151C20;
	float: left;
	font-size: 3em;
	line-height: 1em;
	padding: 0 0.15em 0;
	width: 1.8em;
}
#homeLogoFloat {margin-top: 0;}
#homeLogo:hover, #homeLogoFloat:hover {
	background: none;
	border-color: transparent;
	box-shadow: none;
	color: #459EE5;
	text-shadow: -1px -1px 1px #000;
	-moz-transition: color 0.5s ease-in;
	-ms-transition: color 0.5s ease-in;
	-o-transition: color 0.5s ease-in;
	-webkit-transition: color 0.5s ease-in;
	transition: color 0.5s ease-in;	
}
#homeLogoFloat {line-height: 1.15em;}
#homeLogo:active, #homeLogoFloat:active {outline: none;}
.floatingNavbarContainer #homeLogo {line-height: 1.15em;}

/**
 * Display the grids
 */
.gridContainer .row div {
	background: #EEE;
	border: 0.1em solid;
	border-color: #999 #FFF #FFF #999;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color:#555;
	height:30px;
	line-height:30px;
	text-align:center;
}

/**
 * Create the pin container
 */
.pinContainer {height: 65em;}
.pinContainer .pin {margin: 1.75em;}

/**
 * Autocomplete image lists
 */
.autocompleteList img {
	float: left;
	height: 1em;
	margin: 0.375em 0.5em 0em 0em;
	width: 1em;
}

/**
 * Featured images
 */
.featuredImage {
	border: 1px solid #222;
	border-radius: 2px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/**
 * Ecommerce classes
 */
#utilityFloat {margin:0.825em 0 0;}