/**
 * Display the grids
 */
.gridContainer .row div {
	color:#555;
	height:30px;
	line-height:30px;
	text-align:center;
}

/**
 * Create the pin container
 */
.pinContainer {height: 50em;}
.pinContainer .pin {margin: 1.75em;}

/**
 * Autocomplete image lists
 */
.autocompleteList img {
	float: left;
	height: 1em;
	margin: 0.375em 0.5em 0em 0em;
	width: 1em;
}