/**
 * Display the grids
 */
.gridContainer .row div {
	color:#555;
	height:30px;
	line-height:30px;
	text-align:center;
}

/**
 * Create the pin container
 */
.pinContainer {height: 50em;}
.pinContainer .pin {margin: 1.75em;}