/**
 * The logos
 */
#homeLogo, #homeLogoFloat {
	color: #09C;
	float: left;
	font-size: 3em;
	padding: 0 0.15em 0;
	width: 1.5em;
}
#homeLogoFloat {line-height: 1.15em;}
.floatingNavbarContainer #homeLogo {line-height: 1.15em;}

/**
 * Display the grids
 */
.gridContainer .row div {
	color:#555;
	height:30px;
	line-height:30px;
	text-align:center;
}

/**
 * Create the pin container
 */
.pinContainer {height: 65em;}
.pinContainer .pin {margin: 1.75em;}

/**
 * Autocomplete image lists
 */
.autocompleteList img {
	float: left;
	height: 1em;
	margin: 0.375em 0.5em 0em 0em;
	width: 1em;
}

/**
 * Featured images
 */
.featuredImage {
	border: 1px solid #222;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/**
 * Ecommerce classes
 */
#utilityFloat {margin:0.825em 0 0;}